:root {
    --color-green: #71dd37;
    --color-purple: #696cff;
    --color-blue: #03c3ec;
    --color-orange: #ffab00;
    --color-red: #ff3e1d;
    --color-bg-dash: #f5f5f9;
    --color-card-dash: #ffffff;
}

.dash-bg {
    background-color: var(--color-bg-dash);
}
.dashside {
    background-color: var(--color-card-dash);
}
.dashside .title{
    color: var(--color-purple);
}

.title{
    color: var(--color-purple);
}


/* Ensure DashSide has a proper height and overflow settings */
.shadow-custom {
    height: 100vh; 
    overflow-y: scroll;
    top: 0;
    left: 0;
}

/* Custom scrollbar styling for Webkit browsers (Chrome, Safari, Edge) */
.shadow-custom::-webkit-scrollbar {
    width: 0px; 
}

/* Custom scrollbar thumb (the draggable part) for Webkit browsers */
.shadow-custom::-webkit-scrollbar-thumb {
    background-color: white; /* Thumb color */
}

/* Custom scrollbar track (the background of the scrollbar) */
.shadow-custom::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255); /* Track color */
}

/* Firefox scrollbar customization */
.shadow-custom {
    scrollbar-width: thin; /* Set the scrollbar to thin */
    scrollbar-color: rgb(255, 255, 255) rgb(255, 255, 255); /* Thumb and track color */
}

.transition-transform {
    transition: transform 0.3s ease-in-out;
  }
  
  @media (min-width: 768px) {
    .md\:translate-x-0 {
      transform: translateX(0) !important;
    }
  }
  
  @media (max-width: 767px) {
    .scrollbar-hidden {
      overflow: hidden;
    }
  }

.react-calendar {
  width: 100%;
  max-width: 100%;
  background-color: #f9fafb; /* Tailwind gray-50 */
  border: 1px solid #696cff; /* Tailwind gray-300 */
  border-radius: 0.5rem; /* Tailwind rounded-lg */
  padding: 1rem; /* Tailwind p-4 */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Tailwind shadow-sm */
}

.react-calendar__navigation button {
  color: #696cff; /* Custom color */
  background: transparent;
  border: none;
  font-size: 1rem; /* Tailwind text-base */
  margin: 0.25rem; /* Tailwind m-1 */
  cursor: pointer;
  padding: 0.5rem; /* Tailwind p-2 */
  border-radius: 0.375rem; /* Tailwind rounded-md */
  transition: background-color 0.3s;
}

.react-calendar__navigation button:hover {
  background-color: #f3f4f6; /* Tailwind gray-200 */
}

.react-calendar__tile {
  height: 3rem; /* Tailwind h-12 */
  text-align: center;
  border-radius: 0.375rem; /* Tailwind rounded-md */
  transition: all 0.3s ease;
}

.react-calendar__tile--active {
  background-color: #696cff; /* Custom color */
  color: white;
  font-weight: bold;
}

.react-calendar__tile:hover {
  background-color: #e0e7ff; /* Tailwind indigo-100 */
}
